/* @import url("https://fonts.googleapis.com/css2?family=Suez+One&family=Tenor+Sans&display=swap"); */
/* @import url(cursor.css); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* @import url(animations.css); */

:root {
  --lightcolor1: hsl(184, 91%, 79%);
  /* --lightcolor2: hsl(204, 100%, 34%); */
  --lightcolor2: hsl(204, 100%, 54%);
  --purple-100: hsl(340, 100%, 97%);
  --purple-200: hsl(340, 93%, 88%);
  --darkcolor2: hsl(0, 0%, 12%);
  --textprimary: hsl(0, 0%, 10%);
  --blue-900: hsl(204, 100%, 27%);
  --blue-100: hsl(183, 97%, 90%);
  --blue-200: hsl(183, 97%, 80%);
  --blue-600: #ffffff;
  --highlight: hsl(45, 100%, 51%);
  --highlight2: hsl(16, 100%, 55%);
  --highlight-100: hsl(40, 37%, 97%);
  --white-hue:hsl(162, 62%, 96%);
  --white-hue2:hsl(162, 62%, 85%);
}

.dummy {
  color: #d2f4f6;
  color: #03c2cb;
}

html,
body {
    overflow-x: hidden;
}

* {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", serif;
  font-weight: 700;
}

p {
  color: var(--darkcolor2) !important;
}

.card-link{
  color: var(--darkcolor2) !important;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--textprimary);
}

a:hover{
  color: var(--textprimary);
}

.huge_text {
  font-size: clamp(2rem, 5vw, 5rem);
  color: var(--textprimary);
}

.gradient {
	background: linear-gradient(to right, var(--white-hue) 0%, var(--white-hue2) 100%);
	/* -webkit-background-clip: text; */
	/* -webkit-text-fill-color: transparent; */
  /* background-image: linear-gradient(transparent 60%, #43f2e9 50%,var(--highlight) 100%); */
}





main {
  position: relative;
  margin-top: 74px;
}

@media (max-width: 400px) {
  .spaceship {
    display: none;
  }
}





 .orbit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fafbfc;
  border-radius: 50%;
} 


.orbit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fafbfc;
  border-radius: 50%;
}


/* ---------navbar  */

.navbar {
  align-items: center;
  background: #fff;
  /* box-shadow: 0 15px 40px white; */
  box-shadow: 0px 0px 32px 42px rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 32px 42px rgb(255, 255, 255);
  -moz-box-shadow: 0px 0px 32px 42px rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  padding: 15px 0 0px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 3;
  transition: 340ms ease-in-out;
}

.nav__link {
  font-family: "Poppins";
  font-weight: 700;
}

.nav__link:hover {
  text-decoration: none !important;
  color: #20a5ab !important;
}

.push-left {
  margin-left: auto;
}

#primary-menu {
  background: rgb(255, 255, 255);
  /* margin-top: 4px; */
  z-index: -1;

}

/* Menu */
 .hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  outline: none;
  height: 30px;
  position: relative;
  width: 30px;
  z-index: 1000;
}
 @media screen and (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }

  .mobile-contact-btn{
    display: block !important;
  }
}  



#menu-toggler{
  transform: scale(.6);
}

.hamburger-line {
  background: #272727;
  height: 3px;
  position: absolute;
  left: 0;
  transition: all 0.2s ease-out;
  width: 100%;
} 
.hamburger:hover .hamburger-line {
  background: #777;
}
.hamburger-line-top {
  top: 3px;
} 
 .menu-active .hamburger-line-top {
  top: 50%;
  transform: rotate(45deg) translatey(-50%);
}
.hamburger-line-middle {
  top: 50%;
  left: 0px;  
  width: 80%; 
  transform: translatey(-50%);
}  
.menu-active .hamburger-line-middle {
  left: 50%;
  opacity: 0;
  width: 0;
}
.hamburger-line-bottom {
  bottom: 3px;
}
.menu-active .hamburger-line-bottom {
  bottom: 50%;
  transform: rotate(-45deg) translatey(50%);
}

 .nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 400ms ease-in-out;
} 
 @media screen and (max-width: 768px) {
  .nav-menu {
    background: #fff;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translatey(-100%);
    text-align: center;
    z-index: 2;
  } 
  .menu-active .nav-menu {
    transform: translatey(0%);
    opacity: 1;
  }

  .menu-item-btn{
    display: none;
  }


 }

.nav-menu .menu-item a {
  color: #444444;
  display: block;
  line-height: 30px;
  padding: 0px 18px;
  text-decoration: none;
  text-transform: capitalize;
  
} 

@media screen and (max-width:998px) {
  .nav-menu .menu-item a {
    padding: 0px 15px;
  }
} */

.nav-menu .menu-item a:hover {
  color: #777777;
  text-decoration: underline;
} 
 @media screen and (max-width: 768px) {
  .nav-menu .menu-item a {
    font-size: 20px;
    margin: 8px;
  }
}

 .sub-nav {
  border: 1px solid #ccc;
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 5px 5px;
  list-style: none;
  width: 230px;
}
@media screen and (max-width: 768px) {
  .sub-nav {
    position: relative;
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }
}

.nav__link:hover + .sub-nav {
  display: block;
}

.sub-nav:hover {
  display: block;
}

#menu-toggler {

}

 @media (min-width: 768px) and (max-width: 1128px) {
  a.nav__link {
    font-size: 0.8rem !important;
  }
}  

/* btns */



.btn {
  font-weight: 700;
  padding: 1rem 2rem;
  margin: 0.75rem;
  transition: 200ms ease-in-out;
}

.btn-career{
  color: black;
  border: 2px solid black;
  transition: 300ms ease-in-out;
}

.btn-career:hover{
  background: rgb(24, 24, 24) !important;
  color: white;
} 




.btn:hover {
  border-width: 2px;
  background: transparent;
} 

.btn-outline-primary:hover{
  color: black;
}

.btn-submit {
  background: var(--blue-900);
  color: white;
}

.btn-submit:hover {
  background: var(--blue-900);
  color: white;
}



.menu-item-btn{
  background: hsl(204, 100%, 20%);
  transition: 200ms ease-in-out;
  border-radius: 4px;
  cursor: pointer;
} 

.menu-item-btn:hover{
  background: hsl(183, 97%, 95%);
  outline: 1px solid hsl(204, 100%, 27%);
}


/* Sections  */

section {
  padding: 100px 0;
  scroll-margin-top: 100px !important;
}



/* hero  */

.hero{
  background-image: linear-gradient(
    181deg,
    var(--lightcolor1) 14%,
    var(--lightcolor2) 86%
  );
}

.hero_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

@media (min-width: 768px) {
  .hero_container .hero_text {
    flex: 0.5;
  }

  .hero_container .hero_image {
    flex: 0.5;
  }
}

.hero_container .hero_image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_image img {
  margin-top: 20px;
  max-width: 80%;
}




/* back to top button  */

 .back-to-top{
  border-radius: 50%;
  background: var(--blue-900);
  border: 2px solid white !important;
  color: var(--white-hue);
  border: 0;
  height: 50px;
  width: 50px;
  font-size: 1rem;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transform: translateY(80px);
  transition: 400ms ease-in-out;
} 



@keyframes shake {
  50%  {transform: scale(0.99);}
}



/* contact-floating-btn */

.contact-floating-btn{
  border-radius: 50%;
  background: var(--blue-900);
  border: 2px solid white !important;
  color: var(--white-hue);
  border: 0;
  height: 50px;
  width: 50px;
  font-size: 1rem;
  padding: 10px;
  position: fixed;
  bottom: 120px;
  right: 20px;
  transform: translateY(100px);
  transition: 400ms ease-in-out;
}

.insta-floating-btn{
  border-radius: 50%;
  background: var(--blue-900);
  border: 2px solid white !important;
  color: var(--white-hue);
  border: 0;
  height: 50px;
  width: 50px;
  font-size: 1rem;
  padding: 10px;
  position: fixed;
  bottom: 180px;
  right: 20px;
  transform: translateY(100px);
  transition: 400ms ease-in-out;
}


.linkedin-floating-btn{
  border-radius: 50%;
  background: var(--blue-900);
  border: 2px solid white !important;
  color: var(--white-hue);
  border: 0;
  height: 50px;
  width: 50px;
  font-size: 1rem;
  padding: 10px;
  position: fixed;
  bottom: 240px;
  right: 20px;
  transform: translateY(100px);
  transition: 400ms ease-in-out;
}




